@{
    ViewData["Title"] = "User Listed";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Index</title>

</head>
<body>
    <h3>List User</h3>

    <a class="btn btn-primary" asp-action="Create" asp-controller="User">Add User</a>
    <table class="table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usersWithRoles in Model)
            {
                <tr>
                    <td>@usersWithRoles.User.UserName</td>
                    <td>@usersWithRoles.User.Email</td>
                    <td>@usersWithRoles.User.PhoneNumber</td>
                    <td>@usersWithRoles.RoleName</td> <!-- Corrected from RodeName to RoleName -->
                    <td>
                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="User" asp-route-Id="@usersWithRoles.User.Id">Edit</a> |
                        <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="User" asp-route-Id="@usersWithRoles.User.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>
